---
import { getCollection } from "astro:content";

const experienceCollection = await getCollection("experience");
const renderedExperience = await Promise.all(
  experienceCollection.map(async (exp) => await exp.render())
);
---

<script>
  const swapInterval = setInterval(() => {
    const header = document.querySelector(".header");
    const random = Math.random();

    console.log(random);
    if (!header) return;

    // if (random < 0.05) {
    //   header.innerHTML = `<h1 class="heading_name">A<span class="flicker-slow">l</span>an Ri<span class="flicker-fast">c</span>e</h1>`;
    //   return;
    // }

    header.innerHTML = `<h1 class="heading">V<span class="flicker-slow">a</span>por<span class="flicker-fast">D</span>ev</h1>`;
  }, 10000);

  window.addEventListener("beforeunload", () => clearInterval(swapInterval));
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <style></style>
    <title>alan rice</title>
  </head>
  <body>
    <h1 class="header">
      V<span class="flicker-slow">a</span>por<span class="flicker-fast">D</span
      >ev
    </h1>
  </body>
</html>
{renderedExperience.map((exp) => <exp.Content />)}

<style is:global>
  body {
    background: black;
    color: white;
    font-family: "Cind";
  }
  h3 {
    color: #ffd5ff;
  }
  @font-face {
    font-family: "GangOfThree";
    src: url("/fonts/go3.ttf");
  }
  @font-face {
    font-family: "Cind";
    src: url("/fonts/cind.otf");
  }

  h1 {
    font-family: "GangOfThree";

    font-size: 5rem;
    font-weight: 400;
    color: #ffd5ff;
    letter-spacing: 2px;
    text-shadow: 1px 0px 4px #ffd5ff, 2px 0px 4px #17fff7, 3px 0px 3px #ffd5ff,
      2px 0px 3px #d42cca, 2px 3px 15px #d42cca, 2px 0px 15px, 5px 0px 125px,
      20px 0vw 200px #d42cca, 40px 0vw 200px #17fff7;
    will-change: text-shadow, opacity;
    animation: pulsate 0.01s infinite ease-in-out alternate;
    transform: translateZ(0);
  }

  .heading_name {
    text-shadow: 1px 0px 4px #39ff14, 2px 0px 4px #39ff14, 3px 0px 3px #ffd5ff,
      2px 0px 3px #d42cca, 2px 3px 15px #d42cca, 2px 0px 15px, 5px 0px 125px,
      20px 0vw 200px #d42cca, 40px 0vw 200px #39ff14;
  }

  @keyframes flicker {
    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
      opacity: 0.99;
    }
    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
      opacity: 0.5;
    }
  }
  .flicker-slow {
    transform: translateZ(0);
    animation: flicker 10s linear infinite;
    will-change: text-shadow, opacity;
  }

  .flicker-fast {
    transform: translateZ(0);
    animation: flicker 4s linear infinite;
    will-change: text-shadow, opacity;
  }
  @keyframes pulsate {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.95;
    }

    51% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }
</style>
