---
import Experience from "../components/Experience.astro";

import Oak from "./Experience/Oak.astro";
import { data } from "./data"

const { oak } = data

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<style>
			h1 {
			  color: purple;
			  font-size: 4rem;
			}
		  </style>
		<title>My Astro Site</title>
	</head>
	<body>
		<h1>My Astro Site is cool</h1>
		<Experience title={oak.title}>
			<Oak />
		</Experience>
	</body>
</html>